/*Global CSS Properties*/
body{ background-color: #D3D3D3; 
    padding-left: 3em; padding-top: 1em; width: 910px;
    font-family: "Open Sans"; font-weight: 800,600,400,300; }
h1  { font-size: xx-large; letter-spacing: 3px;
    text-align: center; padding-top: 16px;}
ul  { list-style-type: none;}
li  { height:36px; padding-top: 12px;}

article { box-shadow: 2px 2px 12px 2px #625D52;}
span    { text-align: center; font-family: "Open Sans"; list-style-type: none;}

span { display: inline-block; width: 300px;}
span.first, span.third { background-color: #FFFFFF; }
span.second { color:#FFFFFF; background-color: #2F4F4F; }


/* List Properties + Form Button */
ul.tierList{ margin: 0; padding: 0;}
ul.tierList li:nth-child(2n) { background-color: rgba(47,59,64,0.35);}
ul.tierList li:first-child {font-size: x-large; margin-bottom: 5px;}
ul.tierList li.formButton:last-child { height: 80px; padding-top: 24px;}
button.formText { color: #FFFFFF; background-color: #3A6BA5; background-size: 128px; 
                width: 256px; height: 48px ; border: 0px; border-radius: 6px;
                padding-left: 96px; padding-right: 96px; }
button.formText:hover{ background-color: #437CBF}
/* Border Rounding: https://www.w3schools.com/css/css3_borders.asp*/

/*Price Block Properties*/
#budgetPrice  { background-color: #5BB189;}
#stdPrice     { background-color: #4B0082;}
#scholarPrice { background-color: #EC632A;}
li.prices     { height:48px; font-size: 24px; padding-top: 12px;}

/* Footer Properties */
footer { color:#f9f9f9; background-color: #2f4f4f; 
       width: 910px; letter-spacing: 2px;}

#footerText { margin: 16px; padding: 16px;}

/*

*/